.center {
	transform: translate(-20%, -5%);
	width: 40px;
	padding-top: 5px;
	padding-right: 5px;
}

.center:before,
.center:after,
.center div {
	background: var(--secondaryText);
	content: '';
	display: block;
	height: 6px;
	border-radius: 3px;
	margin: 5px 0;
	transition: 0.5s;
}

.center:hover:before {
	transform: translateY(11px) rotate(135deg);
}
.center:hover:after {
	transform: translateY(-11px) rotate(-135deg);
}
.center:hover div {
	transform: scale(0);
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

#dot-1 {
	background-color: #fc6058;
}
#dot-2 {
	background-color: #fec02f;
}
#dot-3 {
	background-color: #2aca3e;
}
.browser-dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#profile-pic {
	display: block;
	margin: 0 auto;
	height: 300px;
	width: 230px;
	object-fit: fill;
	border: 2px solid var(--borderColor);
}

/* .right-column {
	grid-area: right-column;
	padding-top: 50px;
	padding-bottom: 50px;
	display: grid;
	align-content: center;
	background-color: #fff;
} */

#preview-shadow {
	background-color: var(--previewShadow);
	width: 280px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

.preview {
	width: 280px;
	border: 1.5px solid var(--borderColor);
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

.corner {
	width: 7px;
	height: 7px;
	border: 1.5px solid var(--borderColor);
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top: -5px;
	left: -5px;
}

#corner-tr {
	top: -5px;
	right: -5px;
}

#corner-bl {
	bottom: -5px;
	left: -5px;
}

#corner-br {
	bottom: -5px;
	right: -5px;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding: 0px 50px 40px 50px;
	gap: 100px;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

#skills ul {
	list-style-type: none;
}

.skills {
	display: grid;
	align-content: center;
	text-align: center;
}

.post-wrapper {
	display: grid;
	grid-template-rows: repeat(auto-fit, 320px);
	gap: 50px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'post-preview thumbnail';
	grid-gap: 1em;

	background-color: #fff;

	border: 1px solid var(--borderColor);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.post-preview {
	grid-area: post-preview;
	background-color: #fff;
	padding: 25px 0px 25px 25px;
}

.post-title {
	color: black;
	margin: 0;
	font-weight: 520;
}

.post-intro {
	color: #4b5156;
	font-size: 14px;
	padding-right: 20px;
}

.post-content {
	color: #4b5156;
	font-size: 20px;
	padding-left: 5px;
	padding-bottom: 15px;
}

.button {
	border: 1px solid var(--borderColor);
	border-radius: 5px;
	padding: 12px 25px 12px 25px;
	font: inherit;
	font-weight: 500;
	letter-spacing: 0.01em;
	color: #fff;
	background-color: #6c757d;
}

.button:hover {
	background-color: #5b6065;
}

.thumbnail {
	grid-area: thumbnail;
	display: grid;
	justify-items: center;
	align-items: center;
}

.thumbnail img {
	height: auto;
	width: auto;
	max-width: 400px;
	max-height: 400px;
	/* object-fit: cover; */
	border: 1px solid var(--borderColor);
	border-radius: 5px;
}

.contact-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 20px 1fr 1fr;
	grid-template-areas:
		'. . . .'
		'. email linkedin .'
		'. github twitter .'
		'. . . .';
	grid-gap: 3em;
}

.email {
	grid-area: email;
}
.linkedin {
	grid-area: linkedin;
}
.github {
	grid-area: github;
}
.twitter {
	grid-area: twitter;
}

.contact-item {
	display: grid;
	justify-items: center;
	align-items: center;

	border: 1px solid var(--borderColor);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

	width: 300px;
	max-width: 300px;
	padding-bottom: 40px;
	background-color: var(--lightMainColor);
}

.contact-item:hover {
	transition: 0.1s ease-in;
	transform: scale(1.05);
}

.contact-wrapper img {
	height: 100px;
	width: 100px;
}

.contact-wrapper h6 {
	text-align: center;
}

footer {
	text-align: center;
	padding-bottom: 10px;
}
/* desktop 4 */
@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}
/* desktop3 */
@media screen and (max-width: 1000px) {
	.thumbnail img {
		max-width: 350px;
		max-height: 350px;
	}
	.about-wrapper {
		grid-gap: 70px;
	}
}
/* desktop2 */
@media screen and (max-width: 900px) {
	.thumbnail img {
		max-width: 325px;
		max-height: 325px;
	}
}
/* desktop1 */
@media screen and (max-width: 800px) {
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			'nav-wrapper'
			'left-column'
			'right-column';
	}

	.right-column {
		justify-content: center;
		padding-bottom: 100px;
	}
	.about-wrapper {
		grid-gap: 40px;
	}
	.post-wrapper {
		grid-template-rows: auto;
	}

	.post {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			'post-preview'
			'thumbnail';
		padding-bottom: 25px;
	}

	.post-content {
		padding-right: 25px;
	}

	.button {
		width: 95%;
	}

	.thumbnail img {
		max-width: 95%;
		max-height: 95%;
	}

	.contact-wrapper {
		grid-gap: 2em;
		padding-bottom: 2em;
	}

	.contact-item {
		width: 180px;
		max-width: 180px;
	}
	.contact-wrapper img {
		height: 80px;
		width: 80px;
	}
}

@media screen and (max-width: 475px) {
	#navigation {
		font-size: 15px;
	}

	.left-column {
		padding-top: 50px;
	}

	.right-column {
		padding-top: 0;
	}

	#preview-shadow {
		padding-top: 15px;
		padding-left: 15px;
	}
	.preview {
		width: 260px;
	}
	.about-wrapper {
		padding: 10px;
		padding-bottom: 25px;
		grid-gap: 1em;
	}

	.post-wrapper {
		padding: 10px;
		padding-bottom: 25px;
	}
	.contact-wrapper {
		grid-gap: 1.5em;
	}
	.contact-item {
		width: 130px;
		max-width: 130px;
		padding: 0 0px 30px 0px;
	}
	.contact-wrapper img {
		height: 70px;
		width: 70px;
	}
}
@media screen and (max-width: 360px) {
	#navigation {
		font-size: 10px;
		font-weight: 600;
	}
	#preview-shadow {
		width: 180px;
		height: 180px;
		padding-left: 30px;
		padding-top: 30px;
	}

	.preview {
		width: 180px;
		padding: 15px;
		position: relative;
	}
	.preview h3 {
		font-size: 21px;
	}
	.about-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	#skills {
		justify-content: left;
		margin-right: 15px;
	}
	.post-wrapper {
		padding: 5px;
		padding-bottom: 25px;
	}

	.contact-wrapper {
		grid-gap: 1em;
	}
	.contact-item {
		width: 120px;
		max-width: 120px;
		padding: 0 0px 30px 0px;
	}
	.contact-wrapper img {
		height: 50px;
		width: 50px;
	}
}
