:root {
	--mainColor: #eaeaeab5;
	--secondaryColor: #fff;

	--borderColor: #c1c1c1;

	--mainText: black;
	--secondaryText: #4b5156;

	--previewBg: rgba(244, 250, 250, 0.728);
	--previewShadow: #d6e6f0;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--mainText);
	font-family: 'Roboto', sans-serif;
}

p,
li,
span,
label,
input,
textarea {
	color: var(--secondaryText);
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #17a2b8;
}

h1 {
	font-size: 56px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}

.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}
.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

.intro-wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;

	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 30em;
	grid-template-areas:
		'nav-wrapper nav-wrapper'
		'left-column right-column';
	margin-top: 25px;
}

.nav-wrapper {
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
	border-radius: 5px 5px 0 0;
}

#navigation {
	margin: 0;
	padding: 10px;
}

#navigation li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
#navigation li:hover {
	transform: scale(1.1);
}

#navigation a {
	color: black;
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

#dot-1 {
	background-color: #fc6058;
}
#dot-2 {
	background-color: #fec02f;
}
#dot-3 {
	background-color: #2aca3e;
}
.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
	grid-area: left-column;
	padding-top: 100px;
	padding-bottom: 50px;
}

#profile-pic {
	display: block;
	margin: 0 auto;
	height: 300px;
	width: 230px;
	object-fit: fill;
	border: 2px solid var(--borderColor);
}

.right-column {
	grid-area: right-column;
	padding-top: 50px;
	padding-bottom: 50px;
	display: grid;
	align-content: center;
}

#preview-shadow {
	background-color: var(--previewShadow);
	width: 280px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

.preview {
	width: 280px;
	border: 1.5px solid var(--borderColor);
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

.corner {
	width: 7px;
	height: 7px;
	border: 1.5px solid var(--borderColor);
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top: -5px;
	left: -5px;
}

#corner-tr {
	top: -5px;
	right: -5px;
}

#corner-bl {
	bottom: -5px;
	left: -5px;
}

#corner-br {
	bottom: -5px;
	right: -5px;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding: 0px 50px 40px 50px;
	gap: 100px;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

#skills ul {
	list-style-type: none;
}

.skills {
	display: grid;
	align-content: center;
	text-align: center;
}

.post-wrapper {
	display: grid;
	grid-template-rows: repeat(auto-fit, 320px);
	gap: 50px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'post-preview thumbnail';
	grid-gap: 1em;

	background-color: #fff;

	border: 1px solid var(--borderColor);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.post-preview {
	grid-area: post-preview;
	background-color: #fff;
	padding: 25px 0px 25px 25px;
}

.post-title {
	color: black;
	margin: 0;
	font-weight: 520;
}

.post-intro {
	color: #4b5156;
	font-size: 14px;
	padding-right: 20px;
}

.post-content {
	color: #4b5156;
	font-size: 20px;
	padding-left: 5px;
	padding-bottom: 15px;
}

.button {
	border: 1px solid var(--borderColor);
	border-radius: 5px;
	padding: 12px 25px 12px 25px;
	font: inherit;
	font-weight: 500;
	letter-spacing: 0.01em;
	color: #fff;
	background-color: #6c757d;
}

.button:hover {
	background-color: #5b6065;
}

.thumbnail {
	grid-area: thumbnail;
	display: grid;
	justify-items: center;
	align-items: center;
}

.thumbnail img {
	height: auto;
	width: auto;
	max-width: 400px;
	max-height: 400px;
	/* object-fit: cover; */
	border: 1px solid var(--borderColor);
	border-radius: 5px;
}

.contact-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 20px 1fr 1fr;
	grid-template-areas:
		'. . . .'
		'. email linkedin .'
		'. github twitter .'
		'. . . .';
	grid-gap: 3em;
}

.email {
	grid-area: email;
}
.linkedin {
	grid-area: linkedin;
}
.github {
	grid-area: github;
}
.twitter {
	grid-area: twitter;
}

.contact-item {
	display: grid;
	justify-items: center;
	align-items: center;

	border: 1px solid var(--borderColor);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

	width: 300px;
	max-width: 300px;
	padding-bottom: 40px;
	background-color: var(--mainColor);
}

.contact-item:hover {
	transition: 0.1s ease-in;
	transform: scale(1.05);
}

.contact-wrapper img {
	height: 100px;
	width: 100px;
}

.contact-wrapper h6 {
	text-align: center;
}

footer {
	text-align: center;
	padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}

@media screen and (max-width: 1000px) {
	.thumbnail img {
		max-width: 350px;
		max-height: 350px;
	}
	.about-wrapper {
		grid-gap: 70px;
	}
}

@media screen and (max-width: 900px) {
	.thumbnail img {
		max-width: 325px;
		max-height: 325px;
	}
}

@media screen and (max-width: 800px) {
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			'nav-wrapper'
			'left-column'
			'right-column';
	}

	.right-column {
		justify-content: center;
		padding-bottom: 100px;
	}
	.about-wrapper {
		grid-gap: 40px;
	}
	.post-wrapper {
		grid-template-rows: auto;
	}

	.post {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			'post-preview'
			'thumbnail';
		padding-bottom: 25px;
	}

	.post-content {
		padding-right: 25px;
	}

	.button {
		width: 95%;
	}

	.thumbnail img {
		max-width: 95%;
		max-height: 95%;
	}

	.contact-wrapper {
		grid-gap: 2em;
		padding-bottom: 2em;
	}

	.contact-item {
		width: 180px;
		max-width: 180px;
	}
	.contact-wrapper img {
		height: 80px;
		width: 80px;
	}
}

@media screen and (max-width: 375px) {
	#navigation {
		font-size: 15px;
	}

	.left-column {
		padding-top: 50px;
	}

	.right-column {
		padding-top: 0;
	}

	#preview-shadow {
		padding-top: 15px;
		padding-left: 15px;
	}
	.preview {
		width: 260px;
	}
	.about-wrapper {
		padding: 10px;
		padding-bottom: 25px;
		grid-gap: 1em;
	}

	.post-wrapper {
		padding: 10px;
		padding-bottom: 25px;
	}
	.contact-wrapper {
		grid-gap: 1.5em;
	}
	.contact-item {
		width: 130px;
		max-width: 130px;
		padding: 0 0px 30px 0px;
	}
	.contact-wrapper img {
		height: 70px;
		width: 70px;
	}
}
